<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^home$ login_form.php?module=home [L]

</IfModule>


# secure htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>


#prevent from browse file.
options All -Indexes
#####################

